[Desktop Entry]
Version=1.0
Type=Application
Name=PS2 Pnacher
Comment=Applying Pnaches onto PS2 ISOs
TryExec=io.github.Snaggly.PS2_Pnacher
Exec=io.github.Snaggly.PS2_Pnacher
Icon=io.github.Snaggly.PS2_Pnacher
Categories=Utility;
